* {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    list-style: none;


}

#section1 {
    background-image: url("https://assets.interntheory.com/creative/Web-Banner.jpg");
    display: flex;
}

#upperContainer {
    height: auto;
    width: 40%;
    padding-top: 110px;
    text-align: center;
    margin-left: 35px;
}

#upperContainer>div>h1 {
    font-size: 3em;
    border-bottom: 1px solid rgb(216, 216, 216);
    margin-bottom: 10px;
    margin-top: 60px;
    width: 80%;
    margin: auto;
}

#upperContainer>div>h1>span {
    color: rgb(223, 30, 46);
}

#upperContainer>div+div>h5 {
    font-size: 1.5em;
    font-weight: 400;
    color: rgb(60, 72, 88);
}

#upperContainer>div+div>h3 {
    font-size: 1.3em;
    color: rgb(60, 72, 88);
    margin-top: -28px;
    font-weight: 700;
}

#imageBox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    margin: auto;
    gap: 20px 10px;
}

/* ****************signUp********************************** */

#boxTop {
    height: 890px;
    width: 90%;
    margin: auto;
    align-items: center;
    margin-top: 13.5%;
    margin-bottom: 5%;
    margin-left: 15%;
    border-radius: 10px;
    padding: 2%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}

#login {
    text-align: left;
    font-size: 1.8em;
    font-weight: 500;
}

#or {
    margin: auto;
    text-align: center;
    color: rgb(153, 153, 153);
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 10px;
}

#form {
    margin: auto;
    width: 100%;
}

#forminner {
    width: 100%;
    padding: 1%;
}

#forminner>div {
    display: flex;
}

#forminner>div>div {
    height: 100%;
    width: 5%;
}

#name,
#lastName {
    width: 40%;
    padding: 12px;
    border: none;
    border-bottom: 2px solid rgb(138, 138, 138);
    margin-top: 6px;
    margin-bottom: 16px;
    font-size: larger;
    margin-left: 5%;
}

input[type="text"] {
    width: 90%;
    padding: 12px;
    border: none;
    border-bottom: 2px solid rgb(138, 138, 138);
    margin-top: 6px;
    margin-bottom: 16px;
    font-size: larger;
    color: rgb(138, 138, 138);
    cursor: pointer;
}

input[type="number"] {
    width: 90%;
    padding: 12px;
    border: none;
    border-bottom: 2px solid rgb(138, 138, 138);
    margin-top: 6px;
    margin-bottom: 16px;
    font-size: larger;
    cursor: pointer;
}

input[type="password"] {
    width: 90%;
    padding: 12px;
    border: none;
    border-bottom: 2px solid rgb(138, 138, 138);
    margin-top: 6px;
    margin-bottom: 16px;
    font-size: larger;
    cursor: pointer;
}

input[type="submit"] {

    background-color: white;
    color: rgb(223, 30, 46);
    padding: 12px 20px;
    border: 1px solid rgb(223, 30, 46);
    border-radius: 5px;
    cursor: pointer;
    width: auto;
    font-size: 16px;
    font-weight: 400;
    margin-top: 5%;
    text-align: center;
    margin-left: 15px;
}

select,
option {
    width: 90%;
    padding: 12px;
    cursor: pointer;
    border: none;
    border-bottom: 2px solid rgb(138, 138, 138);
    margin-top: 6px;
    margin-bottom: 16px;
    font-size: 1.2em;
    color: rgb(138, 138, 138)
}

option {
    font-size: 1em;

}

option:hover {
    color: rgb(138, 138, 138);
}

input[type="submit"]:hover {
    background-color: rgb(252, 237, 239);
}

#rememberMe {
    display: flex;
    align-items: center;

}

a {
    color: rgb(48, 140, 226);
    text-decoration: none;
}

#dontHaveAcc {
    margin-top: 5%;
    font-size: 1.2em;
    font-weight: 500;
    color: rgb(153, 153, 166);
    margin-top: -20px;
    text-align: left
}

#para {
    text-align: left;
    font-size: 16px;
    color: rgb(123, 123, 123);
    background-color: rgb(252, 239, 241);
    padding: 0.5%;
    border: 1px dashed red;
    border-radius: 5px;
    margin-bottom: 2%;

}

#linkedin {
    display: flex;
    text-align: center;
    align-items: center;
    background-color: rgb(12, 129, 224);
    color: white;
    justify-content: space-between;
    border-radius: 5px;
    text-decoration: none;
    padding-right: 25%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 20px;

}

#linkedin:hover {
    background-color: rgb(5, 86, 154);
}

#linkedin>div {
    background-color: white;
    width: 40px;
    height: 40px;
    margin-left: 4%;
    border-radius: 5px;
}

#linkedimage {
    margin-top: 10%;
    width: 79%;
}

/* **************mid container************************* */

#midCont {
    width: 50%;

}

#topTree {
    width: 90%;
    margin-left: 70px;
}

#topTree>img {
    width: 80%;
}

#bottomText {
    text-align: center;
    margin-top: -25px;
}

#bottomText>h5 {
    font-size: 1.5em;
    border-bottom: 1px solid grey;
    width: 70%;
    margin: auto;
    margin-top: 40px;
}

#bottomText>p {
    margin: auto;
    margin-top: 10px;
    width: 65%;
    font-size: 1.1em rgb(60, 72, 93);

}