#navbar {
    margin: auto;
    width: 100%;
    height: 95px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0px;
    background-color: white;
}

#sideBar {
    width: 65px;
    height: 70%;
}

#sideBar>button {
    border: 0px;
    background-color: white;
    border-radius: 50%;
    height: 100%;
    padding: 30%;
}

#sideBar>button>img {
    width: 90%;
}

#sideBar>button:hover {
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}

#signIn>button {
    background-color: rgb(156, 21, 32);
    border: 0px;
    padding: 14px 20px 14px 20px;
    border-radius: 8px
}

#signIn>button>a {
    text-decoration: none;
    color: white;
    font-size: large;
    font-weight: 500;
}

#middleArea {
    height: 80%;
    width: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo {
    width: 45%;
}

#midspace {
    width: 70%;
}

#cartBox {

    width: 5%;
    height: 80%;
    display: flex;
    align-items: center;
    border-radius: 50%;

}

#cart {
    width: 40%;
    margin-left: 30%;
}

#cartBox:hover {
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}

@media all and (min-width:200px) and (max-width:549px) {}

@media all and (min-width:200px) and (max-width:549px) {
    #navbar {
        min-height: 80px;
        min-width: 100%;
    }

    #cartBox {
        width: 25%;
    }

    #middleArea {
        width: 80%;
    }

    #midspace {
        width: 70%;
    }

    #cart {
        width: 30%;
        margin-left: 35%;
    }

    #logo {
        width: 35%;
    }
    #signIn {
        visibility: none;
        opacity: 0;
        width: 0%;
        height: 0%;
    }
}

@media all and (min-width:550px) and (max-width:1250px) {
    #navbar {
        min-height: 90px;
        min-width: 100%;
    }

    #middleArea {
        width: 98%;
        justify-content: right;
    }

    #midspace {
        width: 90%;
    }

    #cartBox {
        width: 10%;
    }

    #cart {
        width: 35%;
    }

    #logo {
        width: 25%;
    }
    #signIn {
        visibility: none;
        opacity: 0;
        width: 0%;
        height: 0%;
    }
}