* {
    box-sizing: border-box;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
#container {
    height: auto;
    width: 100%;
    background-image: url("https://assets.interntheory.com/creative/Web-Banner.jpg");
}


/***********************************************************/

#box {
    height: auto;
    width: 40%;
    margin: auto;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 5%;
    padding: 3%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}
#login {
    text-align: left;
    font-size: 1.8em;
    font-weight: 500;
}
#or {
    color: rgb(153, 153, 153);
}
#form {
    margin: auto;
    width: 100%;
}
#forminner {
    width: 100%;
    padding: 1%;
}
input[type="text"]
 {
    width: 100%;
    padding: 12px;
    border: none;
    border-bottom: 2px solid rgb(138, 138, 138);
    margin-top: 6px;
    margin-bottom: 16px;
    font-size: larger;
}

input[type="password"]
 {
    width: 100%;
    padding: 12px;
    border:none;
    border-bottom: 2px solid rgb(138, 138, 138);
    margin-top: 6px;
    margin-bottom: 16px;
    font-size: larger;
}

input[type="submit"] {
    background-color: white;
    color: rgb(223, 30, 46);
    padding: 12px 20px;
    border: 1px solid rgb(223, 30, 46);
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 3%;
    text-align: center;
}

input[type="submit"]:hover {
    background-color: rgb(252, 237, 239);
}

#rememberMe {
    display: flex;
    align-items: center;

}

#spacebox {
    width: 45%;
}
a {
    color:rgb(48, 140, 226);
    text-decoration: none;
}
#dontHaveAcc {
    margin-top: 5%;
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
    color: rgb(153, 153, 166);
}
#option {
    height: 50px;
    width: 100%;
}
#student,#company {
    width: 49.5%;
    height: 49px;
    font-size: 0.95em;
    border: none;
    color: rgb(117, 117, 117);
    background-color: white;
    text-transform: uppercase;
    font-weight: 500;
}
#student:hover {
    color: rgb(8, 124, 221);
}
#company:hover {
    color: rgb(8, 124, 221);
}
#para {
    text-align: left;
    font-size: 16px;
    color: rgb(123, 123, 123);
    background-color: rgb(252, 239, 241);
    padding: 0.5%;
    border: 1px dashed red;
    border-radius: 5px;
    margin-bottom: 2%;

}
#facebook>div {
  background-color: white;
  width: 40px;
  height: 40px;
  margin-left: 4%;
  border-radius: 5px;
}
#google>div {
    background-color: white;
    width: 40px;
    height: 40px;
    margin-left: 4%;
    border-radius: 5px;
}
#facebookimage,#googleimage {
    margin-top: 10%;
    width: 79%;
}

#facebook,#google {
    display: flex;
    text-align: center;
    align-items: center;
    background-color: rgb(66, 103, 178);
    color: white;
    justify-content: space-between;
    text-decoration: none;
    padding-right: 25%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 20px;
    border-radius: 5px;
}
#google {
    display: flex;
    text-align: center;
    align-items: center;
    background-color: rgb(12, 129, 224);
    color: white;
    justify-content: space-between;
    text-decoration: none;
    padding-right: 27%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 20px;
    border-radius: 5px;
}
#google:hover {
    background-color: rgb(5, 86, 154);
}
#linkedin {
    display: flex;
    text-align: center;
    align-items: center;
    background-color:rgb(12, 129, 224);
    color: white;
    justify-content: space-between;
    border-radius: 5px;
    text-decoration: none;
    padding-right: 25%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 20px;

}
#linkedin:hover {
    background-color: rgb(5, 86, 154);
}
#linkedin>div {
    background-color: white;
    width: 40px;
    height: 40px;
    margin-left: 4%;
    border-radius: 5px;
}
#linkedimage {
    margin-top: 10%;
    width: 79%;
}

#optionalLoginOption_sec2 {
    display: none;
}
#company ~ .bottomColor,#student ~ .bottomColor {
    border-bottom: 2px solid blue;

}


